# [defaults]
# private_key_file=/home/einfochips/day21/ansible-new.pem
# remote_user = ubuntu
# host_key_checking = False
# forks = 50

# [inventory]
# enable_plugins = amazon.aws.aws_ec2

# [ssh_connection]
# ssh_args = -o ControlMaster=auto -o ControlPersist=60s
# pipelining = True
