<html>
    <head>
        <title>Day-18-Task</title>
    </head>
    <body>
        <center>
            <h1>Frontend Page</h1>
            <h2>Current Server :- {{ansible_host}}</h2>
        </center>
    </body>
</html>